*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
}

header{
    height: 80px;
    line-height: 80px;
    background-color:#255EE9 ;
    font-family: inherit, sans-serif;
}

#jumbotron{
    height: 550px;
    color: white;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
    position: relative;
    font-family: century gothic;
}

.debug main{
    height: 700px;
    background-color: red;
}

.debug footer{
    height: 400px;
    background-color: blue;
}

nav li{
    display: inline-block;
    list-style: none;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

#logo,
#accedi{
    width: 25%;
    float: left;
}

nav{
    float: left;
    width: 50%;
    text-align: center;
}

#logo img{
    vertical-align: middle;
}

nav li a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 600;
}

nav li a:hover{
    text-decoration: underline;
}

.btn{
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 15px;
    margin-left: 220px;
    text-decoration: none;
}

.white{
    background-color: white;
    color: black;
}

h1{
    font-size: 70px;
    margin-bottom: 40px;
}

.jumbo-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbo-text p{
    font-size: 20px;
    line-height: 1.6;
}

.button{
    padding: 18px 28px;
    border-radius: 30px;
    font-size: 20px;
    text-decoration: none;
}

#pulsanti{
    padding-top: 50px;
}

.black{
    background-color: black;
    color: white;
    margin-left: 20px;
}

.button.white:hover{
    text-decoration:wavy;
    color: purple;
    box-shadow: 1px 1px 3px 1px #000000;
    background-color: rgba (255,255,255, 0.9);
}

.button.black:hover{
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 3px 1px #000000;
}

.corpo::after{
    content: "";
    clear: both;
    display: table;
}

.corpo{
    width: 90%;
    margin: 0 auto;
}

.img1{
    float: left;
    margin-top: 100px;
}

.testo{
    float: right;
    width: 30%;
    margin-top: 140px;
}

.testo h2{
    font-size: 55px;
}

.testo p{
    font-size: 21px;
    line-height: 1.6;
    margin-top: 20px;
}