*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
}

header{
    height: 80px;
    line-height: 80px;
    background-color:#255EE9 ;
    font-family: inherit, sans-serif;
}

#jumbotron{
    height: 550px;
    color: white;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
    position: relative;
    font-family: century gothic;
}

.debug footer{
    height: 500px;
}

nav li{
    display: inline-block;
    list-style: none;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

#logo,
#accedi{
    width: 25%;
    float: left;
}

nav{
    float: left;
    width: 50%;
    text-align: center;
}

#logo img{
    vertical-align: middle;
}

nav li a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 600;
}

nav li a:hover{
    text-decoration: underline;
}

.btn{
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 15px;
    margin-left: 220px;
    text-decoration: none;
}

.white{
    background-color: white;
    color: black;
}

h1{
    font-size: 70px;
    margin-bottom: 40px;
}

.jumbo-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbo-text p{
    font-size: 20px;
    line-height: 1.6;
}

.button{
    padding: 18px 28px;
    border-radius: 30px;
    font-size: 20px;
    text-decoration: none;
}

#pulsanti{
    padding-top: 50px;
}

.black{
    background-color: black;
    color: white;
    margin-left: 20px;
}

.button.white:hover{
    text-decoration:wavy;
    color: purple;
    box-shadow: 1px 1px 3px 1px #000000;
    background-color: rgba (255,255,255, 0.9);
}

.button.black:hover{
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 3px 1px #000000;
}

.corpo::after{
    content: "";
    clear: both;
    display: table;
}

.corpo{
    width: 88%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.img1{
    float: left;
    margin-top: 100px;
}

.testo{
    float: right;
    width: 30%;
    margin-top: 140px;
}

.testo h2{
    font-size: 55px;
}

.testo p{
    font-size: 21px;
    line-height: 1.6;
    margin-top: 20px;
}

.container2{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color:#F6F6F6 ;
}

.corpo2{
    width: 78%;
    margin-left:100px;
    margin-bottom: 100px;
}

.corpo2::after{
    content: "";
    clear: both;
    display: table;
}

.testo .left{
    float: left;
    width: 30%;
    margin-top: 180px;
    padding-right: 100px;
}

.img2{
    float: right;
    margin-top: 100px;
    margin-left: 190px;
}

.container3{
    width: 100%;
    margin: 0 auto;
    background-color:#F6F6F6 ;
    font-family: century gothic;
    height: 1200px;
}

#lasttitle{
    text-transform: uppercase;
    font-size: 45px;
}

#lasttxt{
    font-size: 19px;
    vertical-align: 1.6;
    margin-top: 20px;
}

.img3{
    margin-top: 100px;
}

.position{
    text-align: center;
}

.corpo3{
    width: 45%;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
}

.testo3{
    padding-top: 80px;
}

.endmain .h2{
    font-size: 20px;
}

.lastbutton{
    padding: 18px 38px;
    border-radius: 30px;
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(30, 30, 195, 0.8);
    color: white;
}

#btnfix{
    margin-top: 50px;
}

#btnfix .lastbutton:hover{
    background-color: rgba(30, 30, 195, 0.6);
    box-shadow: 1px 1px 3px 1px #000000;

}

footer{
    background-color: #23272A;
}

.container4{
    width:68%;
    font-family: 'Passion One';
    position: relative;
    margin: 0 auto;
}

.loghi h2{
    color: #5865F2;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.loghi{
    width: 20%;
    position: absolute; 
    text-align: left;
    padding-top: 70px; 
    
}

#ita{
    font-size: 14px;
    color: white;
    margin-left: 5px;
}

#flag{
    width: 25px;
}

#sez{
    margin-top: 25px;
    text-align: left;
    font-family: arial;
    
}

#select{
    font-size: 5px;
}

.social{
    margin-top: 20px;
}

#dimension,
#dimension2,
#dimension3,
#dimension4{
    font-size: 20px;
    color: white;
    margin-right: 25px;
}

.container4::after{
    content: "";
    clear: both;
    display: table;
}

.prodotto nav ul #list1{
    display: block;
    margin-left: 400px;
    margin-top: 5px;
    font-size: 14px;
    color: white;
    font-family: century gothic;
}

.prodotto nav{
    width: 13%;
    margin-top: 70px;
    line-height: 1.6;
    text-align: left;
    
}

h4{
    color: #5865F2;
    display: block;
    margin-left: 400px;
    margin-top: 5px;
    font-size: 14px;
    font-family: century gothic;
}

.compagnia nav ul #list1{
    display: block;
    margin-left: 400px;
    margin-top: 5px;
    font-size: 14px;
    color: white;
    font-family: century gothic;
}


.compagnia nav{
    width: 38%;
    margin-top: 70px;
    line-height: 1.6;
    text-align: left;
    
}

.risorse nav ul #list1{
    display: block;
    margin-left: 120px;
    margin-top: 5px;
    font-size: 14px;
    color: white;
    font-family: century gothic;
}


.risorse nav{
    width: 15%;
    margin-top: 70px;
    line-height: 1.6;
    text-align: left;

    
}

.risorse nav ul h4{
    color: #5865F2;
    display: block;
    margin-left: 120px;
    margin-top: 5px;
    font-size: 14px;
    font-family: century gothic;
}

.risorse{
    font-family: century gothic;
}

.norme nav{
    width: 15%;
    margin-top: 70px;
    line-height: 1.6;
    text-align: left;
}

.norme nav ul h4{
    color: #5865F2;
    display: block;
    margin-left: 120px;
    margin-top: 5px;
    font-size: 14px;
    font-family: century gothic;
}

.norme nav ul #list1{
    display: block;
    margin-left: 120px;
    margin-top: 5px;
    font-size: 14px;
    color: white;
    font-family: century gothic;
}